<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mytek_marketplace_sync_seller_governorate" xsi:type="object">Mytek\Marketplace\Console\Command\SyncSellerGovernorate</item>
                <item name="mytek_marketplace_reindex_opensearch" xsi:type="object">Mytek\Marketplace\Console\Command\ReindexOpenSearch</item>
            </argument>
        </arguments>
    </type>
</config>
