<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mytek_Marketplace::marketplace"
             title="Marketplace" translate="title" module="Mytek_Marketplace"
             sortOrder="35" resource="Mytek_Marketplace::marketplace"/>

        <add id="Mytek_Marketplace::dashboard"
             title="Dashboard" translate="title" module="Mytek_Marketplace"
             sortOrder="10" parent="Mytek_Marketplace::marketplace"
             action="mytek_marketplace/dashboard/index" resource="Mytek_Marketplace::dashboard"/>

        <add id="Mytek_Marketplace::sellers"
             title="Sellers" translate="title" module="Mytek_Marketplace"
             sortOrder="20" parent="Mytek_Marketplace::marketplace"
             action="mytek_marketplace/seller/index" resource="Mytek_Marketplace::sellers"/>

        <add id="Mytek_Marketplace::sellers_pending"
             title="Seller approval" translate="title" module="Mytek_Marketplace"
             sortOrder="30" parent="Mytek_Marketplace::marketplace"
             action="mytek_marketplace/seller/pending" resource="Mytek_Marketplace::sellers_validate"/>

        <add id="Mytek_Marketplace::reclamations"
             title="Seller claims" translate="title" module="Mytek_Marketplace"
             sortOrder="40" parent="Mytek_Marketplace::marketplace"
             action="mytek_marketplace/reclamation/index" resource="Mytek_Marketplace::reclamations"/>

        <add id="Mytek_Marketplace::notifications"
             title="Send a notification" translate="title" module="Mytek_Marketplace"
             sortOrder="45" parent="Mytek_Marketplace::marketplace"
             action="mytek_marketplace/notification/index" resource="Mytek_Marketplace::notifications"/>

        <add id="Mytek_Marketplace::commissions"
             title="Commissions" translate="title" module="Mytek_Marketplace"
             sortOrder="50" parent="Mytek_Marketplace::marketplace"
             action="mytek_marketplace/commission/index" resource="Mytek_Marketplace::commissions"/>
    </menu>
</config>
