<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mytek_marketplace" frontName="mytek_marketplace">
            <module name="Mytek_Marketplace"/>
        </route>
    </router>
</config>
